#correlation-main-section{
  width: 60%;
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 500px){

  #correlation-main-section{
    width: 95%;
    
  }
}