@media only screen and (max-width: 500px){
  #mainBackupSection{
    display: flex;
    width: 95%;
    align-content: space-around;
    margin: 2rem auto;
    justify-content: space-around;

  }
  
  .dataSection{
    width: 40%;
    border-left: 4px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 8px;
    text-align: center;
    margin: 5px 0 5px 0;
    background-image: radial-gradient(var(--linear-gradient-light) 40%, var(--linear-gradient-dark));

  }
  
  .titles{
    font-weight: bold;
    font-size: .8rem;
    margin: 5px 0 5px 0; 
  }

  .dataOl{
    font-size: 10px;
    width: 80%;
    margin: 0 auto;
  }

  .backupLi{
    margin: 1rem auto;
  }

  .downloadLi{
    width: 80%;
    margin: 1rem auto;
  }
  
  #backupButton{
    margin: 5px;
  }
}

@media only screen and (min-width: 501px){
  #mainBackupSection{
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: 2rem auto;

  }
  
  .dataSection{
    width: 40%;
    margin-top: 2rem;
    border-left: 4px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 8px;
    text-align: center;
    justify-content: space-around;
    background-image: radial-gradient(var(--linear-gradient-light) 40%, var(--linear-gradient-dark));

  }
  
  .titles{
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px 
  }

  .dataOl{
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .backupLi{
    margin: 1rem auto;
  }

  .downloadLi{
    width: 30%;
    margin: 1rem auto;
  }
  
  #backupButton{
    margin: 10px;
  }
}