@media only screen and (min-width: 801px){
  .chartContainer{
    position: relative;
    width: 70%;
    height: auto;
    margin: 20px auto;
    border: outset 1px;
  }
}

/* @media only screen and (min-width: 501px) and (max-width: 800px){
  .chartContainer{
    position: relative;
    width: 94%;
    height: auto;
    margin: 1rem auto;
    border: outset 1px;
  }
} */

@media only screen and (max-width: 800px){
  .chartContainer{
    position: relative;
    width: 98%;
    height: auto;
    margin: 1rem auto;
    border: outset 1px;
  }
}