#coursePlayedData{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}

#courseName{
  margin-left: 0;
}

.courseDivs{
  text-align: center;
  margin: 0 auto;
}