#correlation-section{
  width: 100%;
  display: block;
  justify-content: space-around;
  margin: 1rem auto;
  text-align: center;
  border: outset 3px;
  border-radius: 30px;
  background-color: var(--main-background-color);
}

.wrapper-div{
  display: block;
  margin: .5rem;
}

.headers{
  font-size: 1.1rem;
  font-weight: bold;
}

@media only screen and (max-width: 500px){

  .headers{
    font-size: 1rem;
  }

  #correlation-section{
    width: 95%;
  }
}