@media only screen and (max-width: 500px){
  .statBoxContainer{
    display: grid;
    grid-template-areas:
      'header header header header'
      'avg last5 best worst';
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: 95%;
    margin: 1rem auto 1rem;
    justify-content: center;
    border-left: 4px solid #030164;
    border-bottom: 2px solid #030164;
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--linear-gradient-dark), var(--linear-gradient-light));

  }

  .stat-cell{
    font-size: .7rem;
  }

  #playerArea{
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    font-size: .7rem;
    >h2{
      font-weight: bold;
    }
  }

  .link-wrapper{
    border-left: 2px solid var(--body-bg-secondary-color-solid);
    border-bottom: 1px solid var(--body-bg-secondary-color-solid);
    border-bottom-left-radius: 4px;
    margin: .4rem auto;
  }

  #player-name-h2{
    font-size: 1.1rem;
    font-weight: bold;
  }

  #playerAverages{
    margin: .2rem;
    grid-area: avg;
  }

  #playerLast5Avgs{
    margin: .2rem;
    grid-area: last5;
  }

  #playerBest{
    margin: .2rem;
    grid-area: best;
  }

  #playerWorst{
    margin: .2rem;
    grid-area: worst;
  }
}

@media only screen and (min-width: 501px){
  .statBoxContainer{
    display: grid;
    grid-template-areas:
      'header header header header'
      'avg last5 best worst';
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    width: 60%;
    margin: 3rem auto 3rem;
    justify-content: center;
    border-left: 4px solid var(--body-bg-secondary-color-solid);
    border-bottom: 2px solid var(--body-bg-secondary-color-solid);
    border-radius: 8px;
    background-image: linear-gradient(to right, var(--linear-gradient-dark), var(--linear-gradient-light));

  }

  .stat-cell{
    font-size: 1rem;
  }

  #playerArea{
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    >h2{
      font-weight: bold;
    }
  }

  .link-wrapper{
    border-left: 2px solid var(--body-bg-secondary-color-solid);
    border-bottom: 1px solid var(--body-bg-secondary-color-solid);
    border-bottom-left-radius: 4px;
    margin: .4rem auto;
  }

  #player-name-h2{
    font-size: 1.5rem;
    font-weight: bold;
  }

  #playerAverages{
    margin: .5rem;
    grid-area: avg;
  }

  #playerLast5Avgs{
    margin: .5rem;
    grid-area: last5;
  }

  #playerBest{
    margin: .5rem;
    grid-area: best;
  }

  #playerWorst{
    margin: .5rem;
    grid-area: worst;
  }
}



