:root{
  /* --main-background-color: rgba(5, 156, 124, 0.9); this was old green background */
  
  /* new blue grey color scheme */
  --main-background-color: rgba(45, 84, 94, .6);
  --secondary-bg-color: rgba(18, 52, 59, .4);
  --body-bg-color: lightgoldenrodyellow;

}