@media only screen and (max-width: 500px){
  .wishItem{
    position: relative;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 4px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 8px;
    background-image: radial-gradient(var(--linear-gradient-light) 40%, var(--linear-gradient-dark));

  }
  
  .wishWebLink{
    font-size: .7rem;
  }
  
  .deleteWish{
    position: absolute;
    right: 10px;
    font-size: xx-small;
  }

  .wish-view-course-name{
    font-weight: bold;
  }
}

@media only screen and (min-width: 501px){
  .wishItem{
    position: relative;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 4px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 8px;
    background-image: radial-gradient(var(--linear-gradient-light) 40%, var(--linear-gradient-dark));
  }
  
  .wishWebLink{
    font-size: 1rem;
  }
  
  .deleteWish{
    position: absolute;
    right: 10px;
    font-size: small;
  }

  .wish-view-course-name{
    font-weight: bold;
  }
}
