#menuLinks{
  position: absolute;
  top: 1.75rem;
  /* width: 100px; */
  /* left: 5px; */
  background-color:  white;
  background-image: radial-gradient(var(--linear-gradient-light) 50%, var(--linear-gradient-dark));
  display: block;
  justify-content: space-around; 

  animation: slideIn .5s forwards;
}

.menu-link-wrapper{
  animation: showLink 3s forwards;
}

@keyframes slideIn{
  from{
    width: 0px;
  }
  to{
    width: 100px
  }
}

@keyframes showLink{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}