
#mainSection{
  text-align: center;
  margin-top: 2rem;
      
  a{
    font-style: italic;
  }
}

.statDiv{
      margin-top: .5rem;

}

.playerBox{
  margin-top: 2rem;
  font-size: 1.3rem;
  font-style: bold;
}


.player{
  font-size: 2rem;
  font-weight: bold;
}
