
#mainSection{
  text-align: center;
  margin-top: 2rem;
      
    div{
        margin-top: .3rem;
      }

    a{
      font-style: italic;
    }
}

.playerBox{
  margin-top: 1rem;
}


.player{
  font-size: 2rem;
  font-weight: bold;
}
