
#mainSection{
  text-align: center;
  margin-top: 2rem;
      
  a{
    font-style: italic;
    padding: .5rem;
  }
}

.statDiv{
      margin-top: .5rem;
      font-size: .6rem;

}

.playerBox{
  /* margin-top: 2rem;
  font-size: 1.3rem;
  font-style: bold; */
  border: outset 5px;
  padding: 1rem;
  width: 70%;
  margin: 1rem auto;
  border-radius: 30px;
  background-color: rgba(3, 63, 50, 0.425);

}


.player{
  font-size: 2rem;
  font-weight: bold;
}

.statsSection{
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;

  h2{
    font-weight: bold;
    text-decoration: underline;
  }
}
