#title{
  height: 100%;
  margin: 0 0 0 0;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 4px 6px 2px rgb(240, 235, 235);
}

.image-container{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  /* background: url('../../img/golf-ball.jpg') no-repeat center; */
  background-color: rgba(3, 63, 50, 0.425);
  object-fit: fill;
}

a{
  font-size: 1rem;
}
a:link{
  color: blue;
}

a:visited{
  color: lightblue;
}

a:hover{
  color: red;
}

.menu{
  border-radius: 20px;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 0 0 .2rem 0;
}

#menuSection{
  /* position: fixed; */
}

#menduLinks{
  position: fixed;
  top: 100px;
  display: block
}