@media only screen and (max-width: 500px){
  .singleRdGraphContainer{
    position: relative;
      width: 100%;
      /* height: 1000px; */
      margin: 0 auto;
  }
  
  .singleRdHeader{
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1rem;
  }

  #selectorContainer{
    width: 100%;
    display: flex;
  }

  select:nth-child(1){
    margin: 10px auto;
    font-size: .7rem;
  }

}

@media only screen and (min-width: 501px){
  .singleRdGraphContainer{
    position: relative;
      width: 60%;
      /* height: 1000px; */
      margin: 0 auto;
  }
  
  .singleRdHeader{
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5rem;
  }
}