.roundForm{
  margin: 20px;
  list-style-type: none;
  min-width: 640px;
  border: outset 5px;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto;
  border-radius: 30px;
  background-color: rgba(5, 156, 124, 0.9);;
  
  
}

input{
  width: 3rem;
}

#buttonDiv{
    text-align: center;

    #submitButton{
      width: 50%;
      height: 2rem;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
      
    }
  }


#titleNewRound{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
    

#courseDate{
  /* margin: 1rem 0 1rem 0; */
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: .5rem;
  
    #course{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 1rem;
      display: block;
      font-size: 1rem;
      font-weight: normal;
    }

    #date{
      width: 15%;
      margin: 0 auto;
      margin-bottom: 1rem;
      display: block;
    }
}

#formTop{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  h3{
    margin: 1rem 0 1rem 0;
  }
}

#teeSelector{
  font-size: 1.2rem;
  font-weight: bold;
  width: 15%;
  text-align: center;
}

.formHoles{
  display: block;
  width: 80%;
  margin: .5rem auto;
  text-align: center;
  font-weight: bold;
  border: outset 5px;
  border-radius: 30px;
  background-color: rgba(3, 63, 50, 0.425);

    #hole{
      margin: .25rem 0 0 0;
    }

    #holeDetails{
      display: flex;
      /* width: 50%;
      font-weight: normal; */
      justify-content: space-around;
      margin: .5rem 0 1rem 0;
    }
}

