@import '../../styles/variables.css';


body{
  background: $darkGreen;
  color: $lightGreen;
  background: url('../../img/st-andrews-old-course.jpg') no-repeat;
  background-size: cover;
}
.button{
  font-size: 4rem;
  background-color: red;
}
