@import '../../styles/variables.css';


body{
  width: 100%;
  background: $darkGreen;
  color: $lightGreen;
  font-size: 2rem;
  /* background: url('../../img/st-andrews-old-course.jpg') no-repeat; */
  background-size: cover;
}

.button{
  font-size: 4rem;
  background-color: red;
  margin: 0 auto;
}

.signinForm{
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  display: block;
  justify-content: space-around;
}

.inputs{
  margin: auto;
  width: 75%;
}

.inputBox{
  border: none;
  background-color: darkgreen;
  color: white;
  
}
