#grid{
  display: grid;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: repeat(19, auto);
  background-color: lightgray;
  border-bottom: solid;

  .title{
    background-color: white;
    text-align: center;
    font-size: 1rem;  
  }
}

.round{
  min-width: 420px;
  width: 80%;
  margin: 2em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

#rdStats{
  /* grid-column: 1 / 5 */
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  width: 15%;
  justify-content: space-between;

  h5{
    margin: 5px 0px 5px 0px;
  }
}

#editButtons{
  display: flex;
  width: 30px;
  justify-content: space-between;
  font-size: 1rem;

  :hover{
    background-color: lightgray;
  }
}

#date{
  font-size: .75rem;
  margin: 0;
}