#grid{
  display: grid;
  width: 90%;
  height: 60%;
  margin: 0 auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: repeat(19, auto);
  background-color: lightgray;
  border-bottom: solid;

  .title{
    background-color: white;
    text-align: center;
    font-size: .75rem;  
    font-weight: bold;
  }

  .data{
    background-color: white;
    text-align: center;
    font-size: .75rem;  
  }
}

.round{
  min-width: 420px;
  margin: 2em;
  /* border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(240, 235, 235); */
  border: outset 5px;
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
  border-radius: 30px;
  background-color: rgba(5, 156, 124, 0.9);
}

#rdStats{
  /* grid-column: 1 / 5 */
  width: 65%;
  margin: 0 auto;
  padding: .2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  font-size: .75rem;
  text-transform: uppercase;

  h5{
    margin: 5px 0px 5px 0px;
  }
}

#course{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

#editButtons{
  display: flex;
  width: 100%;
  padding-top: 15px;
  justify-content: space-between;
  font-size: .75rem;

  :hover{
    background-color: lightgray;
  }
}

.rdDetails{
  width: 100%;
  text-align: center;
  margin: .5rem 0 .5rem 0;
  font-size: .75rem;
}

#commentView{
  display: block;
  text-align: center;
  margin: 10px auto;
  
}

