#grid{
  display: grid;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: repeat(19, auto);
  background-color: lightgray;
  border-bottom: solid;

  .title{
    background-color: white;
    text-align: center;
    font-size: .75rem;
    font-weight: lighter;
  }
}

.round{
  min-width: 420px;
  width: 80%;
  margin: 2em;
  /* border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(240, 235, 235); */
  border: outset 5px;
  padding: 1rem;
  width: 60%;
  margin: 1rem auto;
  border-radius: 30px;
  background-color: rgba(3, 63, 50, 0.425);
}

#rdStats{
  /* grid-column: 1 / 5 */
  width: 100%;
  padding-bottom: .2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  text-transform: uppercase;

  h5{
    margin: 5px 0px 5px 0px;
  }
}

#course{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

#editButtons{
  display: flex;
  width: 30px;
  justify-content: space-between;
  font-size: 1rem;

  :hover{
    background-color: lightgray;
  }
}

#date{
  width: 100%;
  text-align: center;
  margin: .5rem 0 .5rem 0;
  font-size: .75rem;
}