#ranges-wrapper{
  width: 100%;
  margin: 1rem auto;
  border: outset 3px;
  border-radius: 30px;
  background-color: var(--main-background-color);
  text-align: center;
  div{
    padding: .4rem;
  }
}